<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480825932340-nt6d5nh1teo5uv5cuct4u0g58p94g02a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480825932340-nt6d5nh1teo5uv5cuct4u0g58p94g02a</string>
	<key>API_KEY</key>
	<string>AIzaSyDPCQdm-luxZ7Z9jKIUGJK6xkTsxPxfJs8</string>
	<key>GCM_SENDER_ID</key>
	<string>480825932340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iconkaset.dev.farmer</string>
	<key>PROJECT_ID</key>
	<string>farmer-app-eb408</string>
	<key>STORAGE_BUCKET</key>
	<string>farmer-app-eb408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480825932340:ios:a65128f57e3062976f2861</string>
</dict>
</plist>